@model UserProfileViewModel


<div class="user-profile">
    <div class="dropdown mb-5">
        <div>
            @if (@Context.User.Identity.IsAuthenticated)
            {
                <img src="..\..\assets\images\faces\male\@(Context.User.Identity.Name).jpg" alt="user-img" class="img-circle mb-5" width="150px">
            }
            else
            {
                <img src="..\..\assets\images\faces\user.jpg" alt="user-img" class="img-circle">
            }





        </div>
        <div class="mb-5">
            @if (@Context.User.Identity.IsAuthenticated)
            {
                <a asp-controller="Account" asp-action="Profile" class="" data-toggle="" aria-haspopup="true" aria-expanded="false">
                    <span class="font-weight-semibold">@User.Identity.Name</span>
                </a>
                <br>

                <span class="text-gray"></span>
                <br>
                <a asp-controller="Account" asp-action="Logout" type="submit" class="btn btn-primary ">Logout</a>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login" type="submit" class="btn btn-primary ">Sign in</a>
                <a asp-controller="Account" asp-action="Register" type="submit" class="btn btn-secondary ">Sign up</a>
            }


        </div>
    </div>
</div>